# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.iml
out
gen
node_modules
.idea

.idea/copyright/
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

